@model AddBookViewModel
@{
    ViewData["Title"] = "_BooksPartial";
}

<tr>
    <td class="text-left">@Model.Author.Name</td>
    <td class="text-left">@Model.Title</td>
    <td class="text-left">@Model.Publisher.Name</td>
    <td class="text-left">@Model.ISBN</td>
    <td class="text-left">@Model.Year</td>
    <td class="text-center">@Model.Status</td>
    <td class="text-center">
        <a asp-controller="BookManagement" asp-action="Delete" asp-route-id="@Model.ISBN" class="text-danger ml-1"><i class="fa fa-trash fa-lg"></i></a>
        <a asp-controller="BookManagement" asp-action="Edit" asp-route-id="@Model.ISBN" class="text-danger ml-1"><i class="fas fa-edit fa-lg"></i></a>

    </td>
</tr>



@*<div class="font-weight-bold">
    <a asp-controller="Teams" asp-action="Details" asp-route-id="@Model.Id">@Model.Name  </a>*@

