@model BookViewModel
@{
    ViewData["Title"] = "_BooksPartial";
}

<tr>
    <td class="text-left">
        <a asp-controller="BookManagement" asp-action="AuthorDetails" asp-route-id="@Model.Author.Id" title="All Books From @Model.Author.Name">@Model.Author.Name</a>
    </td>
    <td class="text-left">
        <a asp-controller="BookManagement" asp-action="BookDetails" asp-route-id="@Model.BookId" title="View Book Details"> @Model.Title</a>
    </td>
    <td class="text-left">@Model.Publisher.Name</td>
    <td class="text-left">@Model.ISBN</td>
    <td class="text-left">@Model.Year</td>
    <td class="text-left">@Model.Rack</td>
    <td class="text-left">@Model.Rating</td>

    @if (User.IsInRole("admin"))
    {
        <td class="text-left">@Model.BookCopies</td>
    }


    @if (User.IsInRole("admin"))
    {
        <td class="text-center">
            <!-- Modal -->
            <div class="modal fade" id="a-@Model.BookId" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            Are you sure you want to delete @Model.Title?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                No
                            </button>
                            <a type="button" class="btn btn-primary" asp-controller="BookManagement" asp-action="Delete" asp-route-id="@Model.ISBN">
                                Yes
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <a data-toggle="modal" href="#a-@Model.BookId" class="text-danger ml-1" >
                <i class="fa fa-trash fa-lg"></i>
            </a>

            <a asp-controller="BookManagement" asp-action="EditBook" asp-route-id="@Model.BookId" class="text-danger ml-1">
                <i class="fas fa-edit fa-lg"></i>
            </a>
        </td>
        
    }
    else if (User.IsInRole("user"))
    {
        <td class="text-center">
            <a class="btn btn-danger" asp-controller="UserBooks" asp-action="CheckoutBook" asp-route-id="@Model.BookId">Check Out</a>

            <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Reserve</a>
        </td>
    }
</tr>


