@model BookViewModel
@{
    ViewData["Title"] = "AddBook";
}

<div class="col-md-4">
    <style>.input-validation-error {border-color:red; background-color:#fee ; }</style>
       
    
    <h5>Add Book</h5>
    <form asp-action="AddBook" asp-controller="BookManagement" method="post">
        <div class="form-group">
            <label asp-for="Title" class="control-label"> </label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger">  </span>
        </div>
        <div class="form-group">
            <label class="control-label">Author</label>
            <p><a class="btn btn-primary" asp-controller="BookManagement" asp-action="AddAuthor">Create Author</a></p>
            <select asp-for="@Model.AuthorId" asp-items="@Model.Authors" class="form-control">
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">Publisher</label>
            <p><a class="btn btn-primary" asp-controller="BookManagement" asp-action="AddPublisher">New Publisher</a></p>
            <select asp-for="@Model.PublisherId" asp-items="@Model.Publishers" class="form-control">
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">Genres</label><p><a class="btn btn-primary" asp-controller="BookManagement" asp-action="AddGenre">New Genre</a></p>
            <select asp-for="@Model.GenresIds" asp-items="@Model.GenresOptions" class="form-control">
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">ISBN</label>
            <input asp-for="ISBN" class="form-control" />
            <span asp-validation-for="ISBN" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Year</label>
            <input asp-for="Year" class="form-control" />
            <span asp-validation-for="Year" class="text-danger">  </span>
        </div>
        <div class="form-group">
            <label class="control-label">Rack</label>
            <input asp-for="Rack" class="form-control" />
            <span asp-validation-for="Rack" class="text-danger">  </span>
        </div>
        <div class="form-group">
            <label class="control-label">Book Copies</label>
            <input asp-for="BookCopies" class="form-control"/>
            <span asp-validation-for="BookCopies" class="text-danger">  </span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info">Create</button>
        </div>
    </form>
</div>
<br />
<br />
    <partial name="_ReturnButtonsPartial" />
